@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Two Good Movies:</h1>
<br />
<div class="row mb-2">
    
    <div class="col-8">
        <h2>The Bashful Bachelor</h2>
        <p>Lum Edwards is annoyed with his partner in Pine Ridge's Jot-'em-Down general store, Abner Peabody, because Abner has swapped their delivery car for a racehorse. Lum is also too timid to propose to Geraldine, so he involves Abner in a "rescue" effort which nearly gets both of them killed. They try again, and this time Geraldine is impressed. Lum writes a proposal note, but Abner, by mistake, delivers it to the Widder Abernathy, who has been ready to remarry for years. This puts Lum in a peck of trouble until the sheriff appears with the Widder's long-gone and hiding husband. 
</p>
    </div>
    <div class="col-4">
        <img src="~/img/The Bashful Bachelor.png" />
    </div>
</div>
<div class="row mb-2">
    
    <div class="col-8">
        <h2>2 Weeks To Live</h2>
        <p>When Abner is mistakenly diagnosed as having only two weeks to live, his partner gets the idea that they can make a ton of money by having Abner perform all kinds of dangerous stunts. </p>
    </div>
    <div class="col-4">
        <img src="~/img/Two Weeks To Live.png" />
    </div>
</div>